/* Load Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/* General styles */
html, body, #root {
  height: 100%;
}

body {
  font-family: Dosis, Miso, serif;
  background-color: #32bebd;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Root variables */
:root {
  --header-height: 64px;
  --footer-height: 100px;
  font-size: 16px;
}

@media screen and (min-width: 600px) {
  :root {
    --header-height: 76px;
    --footer-height: 125px;
    font-size: 24px;
  }
}

.react-datepicker__close-icon::after {
  position: relative;
  right: -30px;
}